/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

html{
    font-size: 62.5%;/*10/16=0.625*/
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: #777777;
    padding: 3rem;
    box-sizing: border-box;
}

.header{
    height: 95vh;
    /* linear-gradient before the url will give the nice green contrast to the image*/
    background-image: linear-gradient(
        to right bottom,
        #7ed56f83,
        #28b485cc)
    ,url(../img/hero.jpg);
    background-size: cover;/*will fit the image in relation to the viewport width*/
    background-position: top; /*if resize top of the image stays the same and crops the bottom or sides if needed*/ 
    /* clip-path: polygon(x y,x y,x y,x y,);*/
    clip-path: polygon(0 0, 100% 0, 100% 60%,0 100%);
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo{
    height: 3.5rem;
}



.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    /* transform, translate will move the text-box DIV -50% in relation to the element itself x,y (centering the text)*/
    transform: translate(-50%,-50%);
    text-align: center;


}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary--main{
    /*block  elements create like break between them*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
    
}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
        100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.btn:link, 
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* avoid overlaping  giving its own space  */
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
   

}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
 /* box-shadow: X  Y   blur   colorPicker*/
}
.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}
.btn--white{
    background-color: #fff;
    color: #777;    
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;/*this will put it behind the original btn*/
    transition: all .4s;
}
.btn--white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn--animated{  
    animation: moveInBottom 1s ease-in-out 1s;
    animation-fill-mode: backwards;
}
/*  Codepen
*{
  margin:0;
  padding:0;
}
$color-primary: #f9ed69;//yellow color
$color-secondary:#f08a5d;//orange
$color-tertiary:#b83b5e;//pink7
$color-text-dark:#333;
$color-text-light:#fff;

$width-btn:150px;
@mixin style-link-text($color){
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

nav{
  margin:30px;
  background-color:$color-primary;
  
  &::after{
    content:"";
    clear:both;
    display:table;
  }
}

.navigation{
  list-style:none;
  float:left;
  
  li{
    display:inline-block;
    margin-left:30px;
    
      &:first-child{
      margin:0;
    }
    a:link{
      @include style-link-text($color-text-dark);
      
    }
  }  
}

.buttons{
  float:right;
}

%btn-placeholder{
  padding: 10px;
  display:inline-block;
  text-align:center;
  border-radius: 100px;
  width: $width-btn;
  @include style-link-text($color-text-light);  
}


.btn-main{
  &:link{
    @extend %btn-placeholder;
    background-color:$color-secondary;    
  }
  &:hover{
    background-color: darken($color-secondary,15%); 
  }
}
.btn-hot{
  &:link{
    @extend %btn-placeholder;
    background-color:$color-tertiary;    
  }
  &:hover{
    background-color: lighten($color-tertiary,15%); 
  }
}

*/