.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .6);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: .5rem;

        &--p1{
            left:0;
            top:20%;
        }
        &--p2{
            right:10%;
            top: 3rem;

        }
        &--p3{
            left:14%;
            top: 7rem;
        }
        &:hover{
            outline: .7rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .8);
            z-index: 20;

        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9) translateY(1rem);
    } 

}